---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "reset",
        "frame",
		"typography";

header {
    text-align: center;
}

header img {
    margin: 10px 0 5px;
    width: 200px;
    -webkit-wmoz-border-radius: 50%;
    -moz-wmoz-border-radius: 50%;
    -ms-wmoz-border-radius: 50%;
    -o-wmoz-border-radius: 50%;
    border-radius: 50%;
}

.links {
    padding: 0;
	li {
    	list-style-type: none;
	}

	a {
	    font-size: 1.2em;
	    display: inline-block;
	    text-decoration: none;
	    color: #222;
	    border: 1px dotted #777;
	    padding: 10px;
	    margin: 0 10px 15px 0;

	    &:hover {
	    	color: #fff;
	    	background-color: #777;
	    }
	}
}

.line {
	display: block;
	height: 1px;
	width: 200px;
	margin: 10px auto;
	background-color: #777;
}

footer {
	text-align: center;

	p {
		margin: 20px 0 0;
	}
}


@media screen and (max-width: 900px) {
    body {
        max-width: 720px;
    }
    .links {
        padding: 0;
    }

    .links li {
        display: inline;
        float: left;
    }
}

@media screen and (max-width: 600px) {
    .links li {
        display: block;
        float: none;
    }

    .links li a {
        margin: 0 0 15px 0;
        display: block;
    }
}