---
# Only the main Sass file needs front matter (the dashes are enough)
---
$text-color: rgba(50,50,50,1);

@import "reset",
        "frame",
		"typography";

header {
    text-align: center;
}

header img {
    margin: 10px 0 5px;
    width: 200px;
    -webkit-wmoz-border-radius: 50%;
    -moz-wmoz-border-radius: 50%;
    -ms-wmoz-border-radius: 50%;
    -o-wmoz-border-radius: 50%;
    border-radius: 50%;
}

.content a {
	color: $text-color;
	text-decoration: none;
	border-bottom: 1px dotted #777;

	&:hover {
		border: none;
	}
}

.links {
	text-align: right;
    padding: 0;
    font-size: 15px;
	li {
    	list-style-type: none;
	}

	a {
	    display: inline-block;
	    text-decoration: none;
	    color: #222;
	    padding: 10px;
	    margin: 0 10px 10px 0;
		-webkit-border-radius: 0 7px 0 7px;
		-moz-border-radius: 0 7px 0 7px;
		-ms-border-radius: 0 7px 0 7px;
		-o-border-radius: 0 7px 0 7px;
		border-radius: 0 7px 0 7px;
	    &:hover {
	    	color: #fff;
	    	background-color: #777;
	    }
	}
}

.line {
	display: block;
	height: 1px;
	width: 200px;
	margin: 10px auto;
	background-color: #777;
}

.nav-title {
	text-align: right;
	&.pages {
		p {
			margin: 0 20px 10px 0;
		}
	}
	p {
		font-style: italic;
		margin: 5px 20px 10px 0;
		font-size: 1.2em;
	}
}

footer {
	text-align: center;

	p {
		margin: 20px 0 0;
	}
}

hr {
	display: block;
	height: 1px;
	width: 200px;
	margin: 30px auto;
	background-color: #aaa;
}

@media screen and (max-width: 900px) {
    body {
        max-width: 720px;
    }
    .links {
        padding: 0;
    }

    .links li {
        display: inline;
        float: left;
    }
}

@media screen and (max-width: 600px) {
    .links li {
        display: block;
        float: none;
    }

    .links li a {
        margin: 0 0 15px 0;
        display: block;
    }
}