<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8">
    <title>Tri Ahmad Irfan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <link rel="icon" href="images/favicon.png">
	<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/main.css">
  </head>
  <body>
  	<div class="wrapper">
		<div class="row">
			<div class="col-100">
				<header>
					<a href="index.html"><img src="/images/tri_ahmad_irfan.jpg" alt="Tri Ahmad Irfan"></a>
					<p class="header-title">Tri Ahmad Irfan</p>		
				</header>
				<div class="line"></div>
			</div>
		</div>
