<!DOCTYPE html>
<html>
  <head>
    <title>Tri Ahmad Irfan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <link rel="icon" href="images/favicon.png">
	<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/main.css">
  </head>
  <body>
  	<div class="wrapper">
	    {% include header.html %}
	    {{ content }}
	    {% include footer.html %}  		
  	</div>
  </body>

</html>
