{% include header.html %}
<div class="row">
    <div class="col-100">
        <header>
            <a href="{{ site.baseurl }}"><img src="/images/tri_ahmad_irfan.jpg" alt="Tri Ahmad Irfan"></a>
            <h1>Tri Ahmad Irfan</h1>
            <ul class="social">
                <li><a href="https://twitter.com/irfan3" class="icon twitter"></a></li>
                <li><a href="https://www.facebook.com/irfan3.me" class="icon facebook"></a></li>
                <li><a href="https://www.linkedin.com/in/triahmadirfan" class="icon linkedin"></a></li>
                <li><a href="http://www.github.com/irff" class="icon github"></a></li>
            </ul>
        </header>
        <div class="line"></div>
    </div>
</div>

  <div class="row">
    <div class="col-30">
      {% include navigation.html %}
    </div>
    <div class="col-70 content">
      {{ content }}          
    </div>
  </div>
{% include footer.html %}